.container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  min-height: 100vh;
  background-color: rgb(37 39 35);
}

.navigation {
  display: flex;
  justify-content: center;
  border: 1px dashed white;
  margin: 2rem 0;
}

.navigation ul {
  display: flex;
  gap: 4rem;
  margin: 1rem;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  color: azure;
  font-size: 2rem;
}

.navigation ul li a:hover {
  border-bottom: 1px solid white;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.post {
  border: 1px dashed white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.categoryList {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 1rem;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.categoryList li {
  list-style: none;
}

.footer {
  border: 1px dashed white;
  text-align: center;
  margin: 2rem 0;
}